<h2 class="text-center">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field text-center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions text-center" style="padding: 20px">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>
<div class="text-center" style= "padding: 20px">
<%= render "devise/shared/links" %>
</div>
